# Ignore Terraform directories
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform plan files
*.tfplan

# Ignore Terraform variable files containing sensitive data
*.tfvars
*.tfvars.json

# Ignore Terraform module directory
.terraform.lock.hcl
